<h1> Vrushti </h1>
<section id="tweets">
  <ul>
    	<% tweet = @tweets.each do |tweet| %>
    		  <li><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></li>
  		<% end %>
  </ul>
</section>
